#gt {
	padding: 0px;
	margin: 0px 2px 0px 6px;
}
#gt #galsolid {
	background: url(../g/galsolid.jpg) top left no-repeat;
	float: right;
	width: 467px;
	height: 346px;
	padding: 0px;
	margin: 0px 0px 2px 0px;
}

#gt #galsolid #gview {
	background-image: url(../g/pic0.gif);
	width: 420px;
	height: 315px;
	padding: 0px;
	margin: 16px auto auto 21px;
} 
.gt {
	height: 56px;
	width: 56px;
	padding: 0px;
	margin: 0px 2px 2px 0px;
	float: left;
	position: relative;
}
.gt2 {
	height: 56px;
	width: 114px;
	padding: 0px;
	margin: 0px 2px 2px 0px;
	float: left;
	position: relative;
}
#gt00 {background: url(../g/puttinggreens.jpg) no-repeat;}
#gt01 {background: url(../g/hole01.jpg) no-repeat;}
#gt02 {background: url(../g/hole02.jpg) no-repeat;}
#gt03 {background: url(../g/hole03.jpg) no-repeat;}
#gt04 {background: url(../g/hole04.jpg) no-repeat;}
#gt05 {background: url(../g/hole05.jpg) no-repeat;}
#gt06 {background: url(../g/hole06.jpg) no-repeat;}
#gt07 {background: url(../g/hole07.jpg) no-repeat;}
#gt08 {background: url(../g/hole08.jpg) no-repeat;}
#gt09 {background: url(../g/hole09.jpg) no-repeat;}
#gt10 {background: url(../g/hole10.jpg) no-repeat;}
#gt11 {background: url(../g/hole11.jpg) no-repeat;}
#gt12 {background: url(../g/hole12.jpg) no-repeat;}
#gt13 {background: url(../g/hole13.jpg) no-repeat;}
#gt14 {background: url(../g/hole14.jpg) no-repeat;}
#gt15 {background: url(../g/hole15.jpg) no-repeat;}
#gt16 {background: url(../g/hole16.jpg) no-repeat;}
#gt17 {background: url(../g/hole17.jpg) no-repeat;}
#gt18 {background: url(../g/hole18.jpg) no-repeat;}
#gt19 {background: url(../g/hole19.jpg) no-repeat;}
#gt20 {background: url(../g/hole20.jpg) no-repeat;}
#gt21 {background: url(../g/hole21.jpg) no-repeat;}
#gt22 {background: url(../g/hole22.jpg) no-repeat;}
#gt23 {background: url(../g/hole23.jpg) no-repeat;}
#gt24 {background: url(../g/hole24.jpg) no-repeat;}
#gt25 {background: url(../g/hole25.jpg) no-repeat;}
#gt26 {background: url(../g/hole26.jpg) no-repeat;}
#gt27 {background: url(../g/hole27.jpg) no-repeat;}
#gt28 {background: url(../g/hole28.jpg) no-repeat;}
#gt29 {background: url(../g/hole29.jpg) no-repeat;}
#gt30 {background: url(../g/hole30.jpg) no-repeat;}
#gt31 {background: url(../g/hole31.jpg) no-repeat;}
#gt32 {background: url(../g/hole32.jpg) no-repeat;}
#gt33 {background: url(../g/hole33.jpg) no-repeat;}
#gt34 {background: url(../g/hole34.jpg) no-repeat;}
#gt35 {background: url(../g/hole35.jpg) no-repeat;}
#gt36 {background: url(../g/hole36.jpg) no-repeat;}
#gt37 {background: url(../g/hole37.jpg) no-repeat;}
#gt38 {background: url(../g/hole38.jpg) no-repeat;}
#gt39 {background: url(../g/hole39.jpg) no-repeat;}
#gt40 {background: url(../g/hole40.jpg) no-repeat;}
#gt41 {background: url(../g/hole41.jpg) no-repeat;}
#gt42 {background: url(../g/hole42.jpg) no-repeat;}
#gt43 {background: url(../g/hole43.jpg) no-repeat;}
#gt44 {background: url(../g/hole44.jpg) no-repeat;}
#gt45 {background: url(../g/hole45.jpg) no-repeat;}
#gt46 {background: url(../g/hole46.jpg) no-repeat;}
#gt47 {background: url(../g/hole47.jpg) no-repeat;}
#gt48 {background: url(../g/hole48.jpg) no-repeat;}
#gt49 {background: url(../g/hole49.jpg) no-repeat;}
#gt50 {background: url(../g/hole50.jpg) no-repeat;}
#gt51 {background: url(../g/hole51.jpg) no-repeat;}
#gt52 {background: url(../g/hole52.jpg) no-repeat;}
#gt53 {background: url(../g/hole53.jpg) no-repeat;}
#gt54 {background: url(../g/hole54.jpg) no-repeat;}
#gt55 {background: url(../g/hole55.jpg) no-repeat;}
#gt56 {background: url(../g/hole56.jpg) no-repeat;}
#gt57 {background: url(../g/hole57.jpg) no-repeat;}
#gt58 {background: url(../g/hole58.jpg) no-repeat;}
#gt59 {background: url(../g/hole59.jpg) no-repeat;}
#gt60 {background: url(../g/hole60.jpg) no-repeat;}
#gt61 {background: url(../g/hole61.jpg) no-repeat;}
#gt62 {background: url(../g/hole62.jpg) no-repeat;}
#gt63 {background: url(../g/hole63.jpg) no-repeat;}
#gt64 {background: url(../g/hole64.jpg) no-repeat;}
#gt65 {background: url(../g/hole65.jpg) no-repeat;}
#gt66 {background: url(../g/hole66.jpg) no-repeat;}
#gt67 {background: url(../g/hole67.jpg) no-repeat;}
#gt68 {background: url(../g/hole68.jpg) no-repeat;}
#gt69 {background: url(../g/hole69.jpg) no-repeat;}
#gt70 {background: url(../g/hole70.jpg) no-repeat;}
#gt71 {background: url(../g/hole71.jpg) no-repeat;}
#gt72 {background: url(../g/hole72.jpg) no-repeat;}
#gt73 {background: url(../g/hole73.jpg) no-repeat;}
#gt74 {background: url(../g/hole74.jpg) no-repeat;}
#gt75 {background: url(../g/hole75.jpg) no-repeat;}
#gt76 {background: url(../g/hole76.jpg) no-repeat;}
#gt77 {background: url(../g/hole77.jpg) no-repeat;}
#gt78 {background: url(../g/hole78.jpg) no-repeat;}
#gt79 {background: url(../g/hole79.jpg) no-repeat;}
#gt80 {background: url(../g/hole80.jpg) no-repeat;}
#gt81 {background: url(../g/hole81.jpg) no-repeat;}
#gt82 {background: url(../g/hole82.jpg) no-repeat;}
#gt83 {background: url(../g/hole83.jpg) no-repeat;}
#gtsl {background: url(../g/syntheticgrass.jpg) no-repeat;}
#gtA {background: url(../g/holeA.jpg) no-repeat;}
#gtB {background: url(../g/holeB.jpg) no-repeat;}
#gtC {background: url(../g/holeC.jpg) no-repeat;}
#gtD {background: url(../g/holeD.jpg) no-repeat;}
#gtE {background: url(../g/holeE.jpg) no-repeat;}
#gtF {background: url(../g/holeF.jpg) no-repeat;}
#gtG {background: url(../g/holeG.jpg) no-repeat;}
#gtH {background: url(../g/holeH.jpg) no-repeat;}
#gtI {background: url(../g/holeI.jpg) no-repeat;}
#gtJ {background: url(../g/holeJ.jpg) no-repeat;}
#gtK {background: url(../g/holeK.jpg) no-repeat;}
#gtL {background: url(../g/holeL.jpg) no-repeat;}
#gtM {background: url(../g/holeM.jpg) no-repeat;}
#gtN {background: url(../g/holeN.jpg) no-repeat;}
#gtO {background: url(../g/holeO.jpg) no-repeat;}
#gtP {background: url(../g/holeP.jpg) no-repeat;}
#gtQ {background: url(../g/holeQ.jpg) no-repeat;}
#gtR {background: url(../g/holeR.jpg) no-repeat;}
#gtS {background: url(../g/holeS.jpg) no-repeat;}
#gtT {background: url(../g/holeT.jpg) no-repeat;}
#gtU {background: url(../g/holeU.jpg) no-repeat;}
#gtV {background: url(../g/holeV.jpg) no-repeat;}
#gtW {background: url(../g/holeW.jpg) no-repeat;}
#gtX {background: url(../g/holeX.jpg) no-repeat;}
#gtY {background: url(../g/holeY.jpg) no-repeat;}
#gtZ {background: url(../g/holeZ.jpg) no-repeat;}
